/* .App {
  text-align: center;
} */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  }

 html {
  scroll-behavior: smooth;
  scroll-padding-top: 75px;
} 
body{
  overflow-x: hidden;
  position: relative;

}

/* ***********Navbar************** */
nav.navbar {
  padding: 18px 0;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 9999;
  transition:  0.32s ease-in-out;
  padding: 0;
  margin: 0;
}
nav.navbar.scrolle {
  padding: 0px 0;
  background-color: #61ccfa;
}
nav.navbar .navbar-nav .nav-link.navbar-link {
  font-weight: 400;
  color: #fff !important;
  letter-spacing: 0.8px;
  /* padding: 0 25px; */
  font-size: 20px;
  opacity: 0.75; 
}
.about-section{
  background-color: #3CBCFC;
  padding-top: 17% !important;
}
.about-image{
  margin-bottom: -16%;
}
/* -------------services--------- */
.sect-services{
 position: relative;
}
.sect-services .card{
  height: 100%;
  width: 100%;
}
/* .sect-services .imgurl{
  height: 100%;
  object-fit: cover;
} */
.sect-services .haut{
  height: 20px;
}
.sect-services .textCard{
  position: absolute;
  top: 30%;
  padding: 0px 7rem;
  /* padding-bottom: 50px; */
}
.sect-services .contImg{
  padding: 0px 9rem 5rem 9rem;
}
.orange{
  background-color: #5CCCFC;
  margin: 0;
}
.pomme{
  background-color: #8CC4BC;
  margin: 0;
}
.sect-services .img-card-top{
  width: 70% !important;
}
.sect-services .gros{
  width: 40% !important;
}
.sect-services .img2{
  width: 100%;
}
/* ----testimonials------------ */
.card-img-top{
  width: 50px;
}
/* ------------------ROJECTS----------- */
.projects{
  margin-left: -10px;
  margin-right: -10px;
}
.projects .card-group{
  display: flex !important;
  gap: 0 !important;
}
.projects .card{
  height: 400px;
}
.projects .project-img .img-fluid {
  width: 100%;
  height: 100%;
}
/* ----------Footer---------- */
.footer{
  background-color: #8fddc9;
}
.info{
  display: flex;
  flex-direction: column;
}
.info a {
  text-decoration: none;
  color: black;
  /* text-align: center; */
}
.lien{
  gap: 4rem !important;
}
.icons{
  gap: 2.5rem !important;
}
.icons a img{
  width: 20px !important;
}
/* -----------RESPONSIVE---------------- */
@media screen and (max-width: 480px) {
  body{
    width: 100%;
  }
  /* section{
    width: 100% !important;
  } */
  .about-image img{
    height: 10%;
    width: 10%;
  }
  
  .sect-services .card{
  height: 100%;
  width: 100%;
}
  
  .sect-services .img-card-top{
    width: 100px;
  }
  .sect-services .contImg{
    padding: 0px;
  }
  .projects{
    text-align: center;
    margin-left: 0px;
    margin-right: 0px;
  }
  .projects .project-img .img-fluid {
    width: 100%;
    height: 100%;
  }
  .sect-services .contImg{
    padding: 0px 3px 5px 3px;
  }
  .logo{
    font-size: 15px;
  }
  .about-section h1{
    font-size: 15px;
  }
  /* ---footer------*/
  .footer .lien{
    display: block !important;
    gap: 0.5rem !important;
  }
  .footer .icons{
    gap: 0.5rem !important;
  }
  .footer .icons a img{
    width: 15px !important;
  }
}

